.Wechat-box{
    display:flex;
    align-items:center;
    width:700px;
    margin:0 auto;
}

.chat-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.panel{
    width: 500px;
    height: 350px;
    flex-direction: column;
    justify-content: flex-start;
    background-color:yellow;
    border:2px solid black;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    font-family: '';
    overflow: auto;
}
.sendbox,.returnbox{
    margin: 0 auto;
    margin-top: 20px;
    width: 500px;
    height: 120px;
    background-color:#ffffff;
    border:2px solid gray;
    position: relative;
}
.send,.return{
    width: 95%;
    height: 80%;
    background-color: #ffffff;
    border:none;
    outline:0;
    font-size: 16px;
    resize:none;
}

.sendbtn,.exitbtn{
    position: absolute;
    bottom: 5px;
    right: 120px;
    width: 90px;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    background-color: orange;
    color: white;
    border:none;
    cursor: pointer;
    outline:0;
}

.btn{ 
    margin-top: 60px;
    width: 90px;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    background-color: deepskyblue;
    color: white;
    border:none;
    cursor: pointer;
    outline:0;
}