.Messageitem{
    width: 90%;
    height:30px;
    line-height: 30px;
    list-style: none;
    padding: 0;
    margin: 10px auto;
}
.left-message{
    width: auto;
    float: left;
    height: 100%;
}
.right-message{
    width: auto;
    float: right;
    height: 100%;
}
.return-username{
    float: left;
    margin-right: 20px;
    width: auto;
    height: 100%;
    background-color: orange;
    color: white;
}
.send-username{
    float: right;
    margin-left: 20px;
    width: auto;
    height: 100%;
    background-color: orange;
    color: white;
}
.left-user{
    height: 100%;
    font-size: 16px;
    color: white;
    background-color: orange;
    margin-right: 15px;
    margin-top: 40px;
}
.right-user{
    height: 100%;
    font-size: 16px;
    color: white;
    background-color: orange;
    margin-left: 15px;
    margin-top: 40px;
}
.text{
    display: inline-block;
    background-color: white;
}
.hide{
    display:none;
}